body {
background-color: #66ffff;
 background-image: url("../pulln.github.io/oaoaiaoiaoaoaoaoooaoaoooaoa.gif") no-repeat fixed center;

}

h1, h3 {
	background-color: black;
	color: orange;
}



 p {;
 	color: red;
 }