body {

}

h1, h3 {
	backround-color: black;
	color: orange;
}

div {
backround-color: #66ffff;
  background-image: url("oaoaiaoiaoaoaoaoooaoaoooaoa.gif") no-repeat fixed center;
}

 p {
 	backround: blue;
 	color: red;
 }