html {
background: url("../images/europa.jpg") no-repeat fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

h1 {
  font-family: 'Barrio', cursive;
  color: white;
}

h2, p.flavor {
  font-family: 'Noto Serif', serif;
  color: white;
}

h3 {
  animation-duration: 15s;
  animation-name: slidein;
 text-align: left;
 color: white;
 size: 100px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h4 {
	color: white;
	text-align: left;
}
