@import url('https://fonts.googleapis.com/css?family=Barrio|Noto+Serif');

html {
background: url("../images/europa.jpg") no-repeat fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

h1 {
  font-family: 'Barrio', cursive;
  color: white;
}

h2, p.flavor {
      margin-left: 2cm;
    margin-right: 65cm;
  font-family: 'Noto Serif', serif;
  color: white;
}

h3 {
  animation-duration: 15s;
  animation-name: slidein;
 text-align: left;
 color: white;
 size: 100px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h4 {
  margin: 20cm, 35cm, 2cm, 0.5cm;
  font-family: 'Noto Serif', serif;
	color: white;
	text-align: left;
}

p.ktc {
    margin-left: 2cm;
    margin-right: 65cm;
  font-family: 'Noto Serif', serif;
  color: white;

}

p.trash {
  margin: 2cm 20cm 2cm 0.5cm;
  color: white;
  text-align: left;
}

.memes {
  height: 151px;
  width: 250px;
  margin-top; 6cm;
  margin: 0 auto;
  background-color: red;
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: red;
    border-radius: 100%;
  }
  50% {
    background-color: orange;
  }
  100% {
    transform: scale(1.5);
    background-color: yellow;
  }
}

