@import url('https://fonts.googleapis.com/css?family=Barrio|Noto+Serif');
* { margin:0; padding:0; box-sizing:border-box;}
body {
  background: url("../images/europa.jpg") no-repeat fixed;
  background-size: cover;
  color:#fff;
  font-family: 'Noto Serif', serif;
}

header {
  height: 65em;
	border: 0em transparent solid;
	padding: 1em;
}

section {
  border: 0em transparent solid;
  margin: 1em;
  padding: 5em 2em 25em 2em;
  height: 50em;
  position:relative;
}

#bio { 

}



#freshneverfrozen {
  background: black;
  height: 75em;

}

#coral {


}


#funding {
}




footer {
	background: #000000;
	border: 3px black solid;
	padding: 2px;
}


h1 {
  font-family: 'Barrio', cursive;
}
.gravity {
  animation-duration: 15s;
  animation-name: slidein;
  text-align: left;
  padding-bottom: 1em;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h2 {
  font-family: 'Barrio', cursive;
}

.memes {
  width: 250px;
  margin: 0 auto;
  animation-name: stretch;
  animation-duration: 1.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;

}

@keyframes stretch {
  0% {
    transform: scale(.3);
    border-radius: 100%;
  }
  100% {
    transform: scale(1.5);
  }
}

.next {
  color:inherit;
  text-decoration:none;
  font-size:2em;
  position:absolute;
  bottom:1em;
  left: 1em;
}


#left {
    background-color: black;
    padding: 5em;
    float: left;
    width: 50%;
    max-height: 80%;
    min-height: 40em;

}

#right {
    padding: 1em 0 2.5em 10em;
    float: right;
    width: 50%;
    height: 80%;
    min-height: 40em;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

img.resize{
   max-width: 25em;
   min-height: 15em;
   max-height: 25em;
}

@media only screen and (max-width: 900px) {
  body {
    border: 0px solid green;
  }

section {
  padding: 1em 0em 1em 1em;
  height: 90%
}

#bio { 

}

#freshneverfrozen{
  height: 100em;

}

#left {
  padding: 1em 1em 1em 1em;
    float: none;
    width: 90%;
  }
#right{
  padding: 0 0 5em 0;
    float: none;
    width:  90%;
    height: 15em;
}


}



@media only screen and (max-width: 400px) {
  body {
    border: 0px solid red;
  }


  #freshneverfrozen{
    height: 125em;
  }

img.resize{
   max-height: 10em;
   width: 100%;
}

  #left {
    float: none;
  }

  #right {
    width: 15em
    height: 12em;
  }

  .gravity{
     animation-duration: none;
  animation-name: none;
  text-align: left;
  padding-bottom: 1em;
}

  .memes{ 
  animation-duration: none;
  animation-name: none;
  padding-bottom: 1em;
}

}
