body {
	background-color: black;
	color: white;
	font-style: helvetica;
}

h1, h3 {
  animation-duration: 120s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

body {
    background: url('../unit_3/images/europa.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
	size: 125px;
}

h1, h3 {
	text-align: left;
}
h4, p {
	text-align: center;
}