html {
background: url("../images/europa.jpg") no-repeat fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

body {
	background-color: black;
	color: white;
	font-style: ;
}

h1, h3 {
  animation-duration: 120s;
  animation-name: slidein;
 text-align: left;
 size: 125px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h4, p {
	text-align: center;
}

.memes {
  height: 151px;
  width: 250px;
  margin: 0 auto;
  background-color: black;
  animation-name: stretch;
  animation-duration: 5.5s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}
