html {
background: url("../images/europa.jpg") no-repeat fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

	div {
   height: 151px;
   width: 250px;
    
   color: white;
   background-color: black; 
    
    transition: background-color 1s linear; 
   -moz-transition: background-color 1s linear;  
   -webkit-transition: background-color 1s linear; 
   -ms-transition: background-color 1s linear; 
}

div:hover {
   background-color: transparent;
  
}

}

body {
	background-color: black;
	font-style: italic;
}

h1, h3, h4 {
  animation-duration: 15s;
  animation-name: slidein;
 text-align: left;
 color: white;
 size: 250px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h4, p {
	color: white;
	background: black;
	text-align: left;
}
h4, p:hover {
	background: transparent;
}

.memes {
  height: 151px;
  width: 250px;
  margin: 0 auto;
  background-color: black;
  animation-name: stretch;
  animation-duration: 2s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

 @keyframes stretch {
  0% {
    transform: scale(.3);
    background-color: transparent;
    border-radius: 100%;
  }
  50% {
    background-color: transparent;
  }
  100% {
    transform: scale(1.5);
    background-color: transparent;
  }

}
